# Ignore everything by default
*

# Allow README
!/README.md
!/.gitignore

# Allow Response Script from DFOR 660
!DFOR 660/
!DFOR 660/project/
!DFOR 660/project/README
!DFOR 660/project/response
!DFOR 660/project/tools/
!DFOR 660/project/tools/**

# Allow Response Script from DFOR 664
!DFOR 664/
!DFOR 664/*.ps1

# Allow Python files in DFOR 772
!DFOR 772/
!DFOR 772/**.py

# Allow Python and C files in DFOR 740
!DFOR 740/
!DFOR 740/*.cpp
!DFOR 740/*.py
!DFOR 740/*.vba
!DFOR 740/MaliciousExtension/
!DFOR 740/MaliciousExtension/*
!DFOR 740/FileEx/
!DFOR 740/FileEx/*